/* FOOTER */

/* FOOTER */

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 10px;
  box-sizing: border-box;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.descripcionFooter {
  text-align: justify;
  width: 90%;
}

.footerLogo {
  width: 100%;
  height: auto;
}

.iconInfo {
  margin-left: 10px;
}

.footer-column h4 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #50c5f3;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 11px;
  font-size: 14px;
}

.footer-column ul li a {
  display: flex;
  align-items: center;
  /* Alinea los íconos y el texto verticalmente */
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-column ul li a img {
  margin-right: 8px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(242deg) brightness(114%) contrast(101%);
}

.footer-column ul li a:hover {
  text-decoration: underline;
  color: #d4ff00;
  /* Cambiar color en hover */
  transform: scale(1.2);
  /* Aumenta ligeramente el tamaño del ícono */
  transform-origin: left;
  font-weight: bold;
}

.footer-column ul li a:hover img {
  filter: invert(94%) sepia(46%) saturate(4167%) hue-rotate(13deg) brightness(104%) contrast(102%);
  transform: scale(1.1);
  /* Aumenta ligeramente el tamaño del ícono */
}

.footer-column .social-icons {
  display: flex;
  gap: 10px;
}

.footer-column .social-icons img {
  width: 54px;
  height: 54px;
  transition: transform 0.3s ease;
  /* Efecto al pasar el mouse */
}

.footer-column .social-icons img:hover {
  transform: scale(1.1);
  /* Aumenta ligeramente el tamaño del ícono */
}

.map-container iframe {
  border: none;
  border-radius: 25px;
  width: 100%;
  /* Asegura que el iframe ocupe el 100% del contenedor */
  height: 235px;
  /* Ajusta la altura del mapa */
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.Axl {
  color: white;
}

.Axl:hover{
  transform: scale(1.2);
  color: #4bc5f3;
}


@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    /* Dos columnas en pantallas más pequeñas */
  }

  .links a {
    margin-top: 10px;
  }

  .footer-column h4 {
    font-size: 1.5em;
    text-align: center;
  }

  .footer-column ul li a {
    font-size: 1.4em;
  }
}

@media (max-width: 480px) {
  .footer-container {
    grid-template-columns: 1fr;
    /* Una columna en pantallas aún más pequeñas */
  }

  .footer-column h4 {
    font-size: 16px;
    /* Reduce el tamaño del encabezado */
  }

  .footer-column ul li {
    font-size: 12px;
    /* Reduce el tamaño del texto */
  }

  .descripcionFooter {
    text-align: justify;
    width: 100%;
  }

  .footer-column h4 {
    font-size: 1.5em;
    text-align: center;
  }
}

@media (min-width: 1430px) {
  .footer-container {
    max-width: 1400px;
    /* Ajusta el ancho del footer */
    gap: 30px;
  }

  .footer-column h4 {
    font-size: 24px;
  }

  .footer-column ul li {
    font-size: 18px;
  }

  .footer-column ul li a {
    font-size: 18px;
  }

  .footer-column ul li a img {
    width: 45px;
    height: 45px;
  }

  .footer-column .social-icons img {
    width: 58px;
    height: 58px;
  }

  .descripcionFooter {
    font-size: 18px;
  }

  .footerLogo {
    max-width: 320px;
  }

  .map-container iframe {
    height: 320px;
  }

  .footer-column ul li a .RataIcon {
    width: 25px;
    height: 25px;
  }

}