/* VARIABLES DE COLOR */
:root {
  --color-primary: #9fb821;
  /* Azul oscuro (SILPA letras grandes) */
  --color-secondary: #378aa9;
  /* Verde (logos pequeños) */
  --color-accent: #348ba8;
  /* Azul línea grande */
  --color-light: #9ec35f;
  /* Verde claro línea pequeña */
  --color-dark: #162632;
  /* Azul muy oscuro (soluciones...) */
  --color-white: #fff;
  /* Blanco */
}

/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--color-white);
  color: var(--color-dark);
}

body,
html {
  overflow-x: hidden;
  /* Prevenir el scroll horizontal */
}

/* ICONO WSP FIJO EN LA ESQUINA */
.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  animation: rotar-vibracion 3s infinite ease-in-out;
  animation-delay: 3.5s; /* Espera 5 segundos antes de empezar */
}

/* Aumenta el tamaño al pasar el mouse */
.whatsapp-icon:hover {
  transform: scale(1.5);
  animation: none; /* Detiene la animación de vibración al hacer hover */
}

/* Animación de vibración con rotación */
@keyframes rotar-vibracion {
  0%, 100% { transform: rotate(0deg) translateY(0); }
  10% { transform: rotate(-10deg) translateY(-2px); }
  20% { transform: rotate(10deg) translateY(2px); }
  30% { transform: rotate(-10deg) translateY(-2px); }
  40% { transform: rotate(10deg) translateY(2px); }
}


/* HEADER */
.silpa-header {
  background-color: white;
  color: #fff;
  padding: 5px 0px;
}



.silpa-header__container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}


.silpa-header__logo img {
  background-color: #ffffff;
  width: 245px;
  height: 95px;
}

/* NAVEGACIÓN */
.silpa-header__nav {
  display: flex;
  gap: 20px;
}

.silpa-header__menu {
  list-style: none;
  display: flex;
  gap: 40px;
}

.silpa-header__menu-item a {
  font-size: 1.3em;
  color: var(--color-dark);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.silpa-header__menu-item a:hover {
  color: #3498db;
  /* Puedes elegir un azul más brillante */
}

/* BOTONES */
.silpa-btn {
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.silpa-btn--primary {
  background-color: var(--color-accent);
  color: var(--color-white);
  margin-right: 25px;
}

.silpa-btn--primary:hover {
  background-color: #007a99;
}

.silpa-btn--secondary {
  background-color: var(--color-light);
  color: var(--color-dark);
}

.silpa-btn--secondary:hover {
  background-color: #8fb858;
}

/* MENU RESPONSIVO */
.silpa-header__menu-toggle {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}

.silpa-header__close-btn {
  display: none;
  /* Ocultarlo por defecto */
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--color-dark);
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
}

/* Fondo oscuro que aparece detrás del modal */
.silpa-header__overlay {
  display: none;
  /* Asegurarnos que esté oculto por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fondo oscuro con opacidad */
  z-index: 999;
  /* Aseguramos que esté debajo del menú pero encima del contenido */
}

/* Al activar la clase "active", el menú será visible y también el overlay */
.silpa-header__nav.active+.silpa-header__overlay {
  display: block;
}

/* ANIMACIÓN HEADER*/

/* Ocultar inicialmente */
.silpa-header__logo,
.silpa-header__menu,
.silpa-header__cta {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Animaciones */
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Aplicar las animaciones cuando la clase .active se agregue */
.silpa-header.animated .silpa-header__logo {
  animation: slideInLeft 1.2s ease-out forwards;
}

.silpa-header.animated .silpa-header__menu {
  animation: slideInUp 1s ease-out 0.6s forwards;
  /* Retraso de 0.6s */
}

.silpa-header.animated .silpa-header__cta {
  animation: slideInRight 1.2s ease-out 1.2s forwards;
  /* Retraso de 1.2s */
}



/* Estilo del menú para dispositivos pequeños (móviles) */
/* MENU RESPONSIVO */
@media (max-width: 768px) {
  .silpa-header__nav {
    display: none;
    /* Ocultamos el menú por defecto */
    flex-direction: column;
    position: fixed;
    /* Fijamos el menú al centro */
    top: 50%;
    /* Centrado vertical */
    left: 50%;
    /* Centrado horizontal */
    transform: translate(-50%, -50%);
    /* Ajustamos para que se centre en ambos ejes */
    width: 80%;
    /* Ajusta el ancho */
    max-width: 400px;
    /* Limitamos el ancho máximo */
    height: 345px;
    border-radius: 35px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Aseguramos que esté encima del overlay */
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
    opacity: 0;
    /* Ocultamos el menú inicialmente */
    visibility: hidden;
    /* Lo ocultamos */
    background-color: #368fad;
    border: 2px solid black;
  }

  .silpa-header__menu-item a:hover {
    color: var(--color-primary);
    font-weight: bold;
    border-bottom: 2px solid black;
  }


  .silpa-header__close-btn {
    display: block;
    /* Mostramos el botón de cerrar */
  }

  .silpa-header__menu {
    flex-direction: column;
    gap: 20px;
    list-style: none;
    text-align: center;
    font-size: 1.5rem;
  }

  .silpa-header__menu-item a {
    color: var(--color-white);
    text-decoration: none;
    font-weight: bold;
  }

  .silpa-header__menu-toggle {
    display: block;
    /* Mostrar el botón de hamburguesa */
  }

  /* Al activar la clase "active", el menú será visible */
  .silpa-header__nav.active {
    display: flex;
    opacity: 1;
    /* Mostramos el menú */
    visibility: visible;
    /* Lo hacemos visible */
    transition: opacity 0.3s ease;
  }

  .silpa-header__overlay {
    display: block;
    /* Mostrar el fondo oscuro cuando el menú esté activo */
  }
}

@media (min-width: 1900px) {

  .silpa-header__menu-item a {
    font-size: 1.5rem;
  }

  .inicio-silpa {
    height: auto;
  }


}

@media (max-width: 896px) {
  .slide-content {
    width: 90%; /* Ajusta el ancho para que no quede muy pegado */
    text-align: center; /* Centra el contenido */
    top: auto;
  }

  .slide-content h1 {
    font-size: 1.8rem; /* Reduce tamaño del título */
    line-height: 1.2; /* Ajusta el espaciado */
    margin-bottom: 10px; /* Agrega espacio debajo del título */
  }

  .slide-content p {
    font-size: 1rem; /* Reduce el tamaño del texto */
    line-height: 1.4;
    margin-bottom: 10px;
  }

  .slide-content a {
    display: block; /* Hace que los botones estén en bloques */
    width: 100%; /* Ocuparán todo el ancho disponible */
    max-width: 250px; /* Pero sin pasarse de 250px */
    margin: 5px auto; /* Centra los botones */
  }

  .inicio-silpa.animated .slide-content .btn-primary, .inicio-silpa.animated .slide-content .btn-secondary{
    padding: 5px;
  }
}

