/* VARIABLES DE COLOR */
:root {
  --color-primary: #9fb821;
  /* Azul oscuro (SILPA letras grandes) */
  --color-secondary: #378aa9;
  /* Verde (logos pequeños) */
  --color-accent: #348ba8;
  /* Azul línea grande */
  --color-light: #9ec35f;
  /* Verde claro línea pequeña */
  --color-dark: #162632;
  /* Azul muy oscuro (soluciones...) */
  --color-white: #fff;
  /* Blanco */
}

/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--color-white);
  color: var(--color-dark);
}

body,
html {
  overflow-x: hidden;
  /* Prevenir el scroll horizontal */
}




/* INICIO SILPA */
.inicio-silpa {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: black;
}

/* Estilo para cada slide */
.slider {
  width: 100%;
  height: calc(100vh - 107px);
  display: flex;
}

.slider .slide {
  height: 100%;
}

.slide {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  position: relative;
  opacity: 0;
  /* Oculta la imagen al inicio */
  animation: fadeInImage 2s ease-in-out forwards;
}

/* Cambiar la imagen de fondo de cada slide */
.slide:nth-child(1) {
  background-image: url('../img/Silpa-Inicio1.jpg');
  background-size: cover;
  background-size: 100% 100%;
}

.slide:nth-child(2) {
  background-image: url('../img/banner1.png');
  background-size: cover;
  background-size: 100% 100%;
}

.slide:nth-child(3) {
  background-image: url('../img/Fumigacion.webp');
  background-size: cover;
  background-size: 100% 100%;
}

/* Animación para que la imagen aparezca suavemente */
@keyframes fadeInImage {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Mantener el contenido completamente oculto hasta que la imagen termine */
.slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  /* Asegura que no se vea en absoluto */
}

/* Mostrar el contenido después de la imagen */
.inicio-silpa.animated .slide-content {
  visibility: visible;
  animation: fadeInText 0.5s ease-in-out 2s forwards;
}

/* Animación para hacer visible el contenido */
@keyframes fadeInText {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Animaciones individuales después de que el contenido sea visible */
.inicio-silpa.animated .slide-content h1 {
  color: white;
  opacity: 0;
  font-size: 3rem;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 4px rgb(0, 0, 0);
  animation: slideInDown 1s ease-out 1.5s forwards;
}

.inicio-silpa.animated .slide-content p {
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
  /* Sombra negra */
  opacity: 0;
  font-size: 1.5rem;
  color: ghostwhite;
  font-weight: bold;
  margin-bottom: 20px;
  animation: slideInLeft 1s ease-out 1.5s forwards;
}

.inicio-silpa.animated .slide-content .btn-primary,
.inicio-silpa.animated .slide-content .btn-secondary {
  opacity: 0;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
  text-align: center;
  animation: slideInUp 1s ease-out 2.5s forwards;
}

.slide-content .btn-primary {
  background-color: var(--color-accent);
  color: white;
}

.slide-content .btn-primary:hover {
  background-color: #007a99;
}

.slide-content .btn-secondary {
  background-color: var(--color-light);
  color: var(--color-dark);
}

.slide-content .btn-secondary:hover {
  background-color: #8fb858;
}

/* Animaciones de entrada */
@keyframes slideInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* SERVICIOS SILPA */

section {
  height: 100vh;
  width: 100%;
}

/* NUEVO SERVICIO */

/* Ajuste en content-wave para evitar el espacio extra */
.content-wave {
  position: relative;
  width: 100%;
  height: 6.8em;
  /* Ajusta la altura de la ola */
  background-color: #377b52;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* Alineación al inicio */
  padding-top: 0;
  /* Elimina cualquier padding adicional */
  margin: 0;
  /* Elimina márgenes adicionales */
  overflow: hidden;
  /* Asegura que no haya desbordes visibles */
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-image: url('../img/waveA.jpg');
  background-size: cover;
  animation: wave 10s linear infinite;
  z-index: 1;
  /* El wave está detrás del título */
}

@keyframes wave {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 1000px;
  }
}

.CotizarServicio {
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 10px;
  background-color: var(--color-light);
  color: var(--color-dark);
  transition: background 0.3s ease;
  display: inline-flex;
  font-size: 0.8em;
  justify-content: center;
}

.CotizarServicio:hover {
  background-color: #8fb858;
  font-weight: bold;
}

.links img {
  align-items: center;
  margin-right: 0px;
}

.telefono-icono {
  display: flex;
  width: 25%;
  height: auto;
}



/* Estilo de la sección de servicios */

.SILPA-servicios-fila {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}

.SILPA-servicios-categoria {
  flex: 1;
  min-width: 300px;
  width: 100%;
  height: auto;
}


.SILPA-servicios-fila:nth-of-type(3) .SILPA-servicios-categoria:nth-child(2) {
  flex: 2;
  /* Lado derecho más ancho */
}

.SILPA-servicios-section {
  background-color: var(--color-dark);
}

.SILPA-servicios-titulo h2 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}


.SILPA-categoria-servicio {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 30%;
}

.SILPA-categoria-servicio h3 {
  font-size: 24px;
  color: var(--color-dark);
  margin-bottom: 15px;
}

.SILPA-categoria-servicio ul {
  list-style-type: none;
  padding-left: 0;
}

.SILPA-categoria-servicio li {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}

/* Estilo general de la sección */
.SILPA-servicios-section {
  text-align: center;
}

/* Título de la sección */
.SILPA-servicios-titulo h2 {
  font-size: 1.8rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 4px rgb(0, 0, 0);
}

.SILPA-servicios-titulo h1 {
  font-size: 1.8rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 4px rgb(0, 0, 0);
  background-color: #377b52;
}

.SILPA-servicios-titulo .SILPA-destacado {
  color: #5dbf5e;
  /* Color destacado */
}

/* Estilo de las categorías de servicios */
.SILPA-servicios-categoria {
  margin-bottom: 20px;
}

.SILPA-categoria-titulo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

/* Contenedor de las tarjetas */
.SILPA-servicios-grid {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

/* Estilo de las tarjetas de los servicios */
.SILPA-servicio-card {
  position: relative;
  width: 205px;
  height: 210px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  perspective: 1000px;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
}

.SILPA-servicio-card:hover {
  transform: scale(1.02);
  /* Escala la tarjeta al pasar el ratón */
}

.SILPA-servicio-front,
.SILPA-servicio-back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.SILPA-servicio-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.SILPA-servicio-front h3 {
  width: 100%;
  background-color: white;
  position: absolute;
  font-size: 0.96rem;
  margin-top: 10px;
  color: #007500;
  font-weight: bold;
  bottom: 0;
  padding: 5px 0px;
}

/* Estilo del reverso de la tarjeta */
.SILPA-servicio-back {
  background-color: #f4f4f4;
  padding: 20px;
  transform: rotateY(180deg);
}

.SILPA-servicio-card:hover .SILPA-servicio-front {
  transform: rotateY(180deg);
  /* Rota el frente al hacer hover */
}

.SILPA-servicio-card:hover .SILPA-servicio-back {
  transform: rotateY(0deg);
  /* Muestra el reverso */
}

.SILPA-servicio-back p {
  text-align: justify;
  color: #555;
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.SILPA-servicio-links {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.SILPA-ver-mas {
  display: inline-flex;
  text-decoration: none;
  border-radius: 5px;
  background-color: #5dbf5e;
  justify-content: center;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease;
  padding: 5px 5px;
  align-items: center;
}

.SILPA-ver-mas:hover {
  background-color: #4c9c47;
}

/* Estilo para el hover de los enlaces */
.SILPA-servicio-links a:hover {
  background-color: #007a99;
  font-weight: bold;
}

.SILPA-servicios-section {
  height: auto;
}

/* COMO TRABAJAMOS */

/* General Styles */
.silpa-trabajo-section {
  background-color: #333;
  padding: 20px 15px;
  height: auto;
}

.silpa-container {
  max-width: max-content;
  margin: 0 auto;
  padding: 0 40px;
  text-align: center;
}

/* Title Styles */
.silpa-trabajo-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  color: #29bcec;
}

/* Description Styles */
.silpa-trabajo-description {
  font-size: 1.125rem;
  color: #ffffff;
  margin-bottom: 40px;
  line-height: 1.6;
}

/* Cards Container */
.silpa-trabajo-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 20px;
}

/* Card Styles */
.silpa-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centra horizontalmente */
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  /* Opcional: borde para definir el card */
  border-radius: 10px;
  background-color: #ceff79;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 0 15px rgba(206, 255, 121, 0.6);

}

.silpa-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 6px #c5d0ff;
}

.silpa-card-icono {
  width: 50%;
  height: auto;
  margin-bottom: 10px;
  /* Espacio entre la imagen y el título */
  object-fit: contain;
}

.silpa-card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

.silpa-card-description {
  font-size: 1rem;
  color: rgb(0, 0, 0);
  line-height: 1.5;
  text-align: justify;
}

.silpa-trabajo-title,
.silpa-trabajo-description,
.silpa-card {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Cuando el elemento es visible */
.silpa-trabajo-title.show {
  opacity: 1;
  transform: translateY(0);
}

.silpa-trabajo-description.show {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.3s;
}

/* Animación escalonada para las cards */
.silpa-card.show {
  opacity: 1;
  transform: translateY(0);
}


/* BANNER CONTACTO */
.bannerContacto {
  height: auto;
}

.banner-contacto {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 300px;
  opacity: 1;
  /* Siempre visible */
  background: rgba(0, 0, 0, 0.7);
}

/* Imagen: empieza oculta y se desliza desde la izquierda */
.imagen-banner {
  flex: 1;
  background-image: url('../img/banner2.png');
  background-size: cover;
  background-position: center;
  height: auto;
  width: 100%;
  opacity: 0;
  transform: translateX(-500px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Contenedor de texto y botón */
.contenido-banner {
  flex: 0.5;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Ocultar los textos y el botón al inicio */
.contenido-banner h2,
.contenido-banner p {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.contenido-banner .boton-contacto {
  opacity: 0;
  visibility: hidden;
  transform: translateX(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Activar animaciones cuando aparecen en pantalla */
.imagen-banner.show {
  opacity: 1;
  transform: translateX(0);
}

.contenido-banner.show h2 {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.3s;
}

.contenido-banner.show p {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.6s;
}

.contenido-banner.show .boton-contacto {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.9s;
  visibility: visible;
}

/* Estilos de texto */
.contenido-banner h2 {
  font-size: 1.5em;
  text-align: center;
}

.contenido-banner p {
  text-align: center;
  font-size: 1.5em;
}

/* Botón de contacto */
.boton-contacto {
  background-color: #ff5733;
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 10px;
  width: 250px;
  padding: 10px 15px;
  text-align: center;
}

.boton-contacto:hover {
  background-color: #d94420;
  transform: scale(1.1);
}




/* Estilos responsivos para pantallas más pequeñas */
@media (max-width: 768px) {
  .banner-contacto {
    flex-direction: column;
    /* Cambia la dirección a columna en pantallas pequeñas */
    height: auto;
    /* Deja que la altura se ajuste al contenido */
  }

  .imagen-banner {
    height: 200px;
    /* Altura de imagen en pantallas pequeñas */
  }

  .contenido-banner {
    text-align: left;
  }
}

@media (max-width: 896px) {
  .slide {
    height: auto;
    /* Permite que crezca si es necesario */
    min-height: 100vh;
    /* Asegura que tenga al menos el alto de la pantalla */
    display: flex;
    align-items: center;
    /* Centra el contenido */
    justify-content: center;
  }

  .inicio-silpa.animated .slide-content h1 {
    font-size: 1.5rem;
  }

  .inicio-silpa.animated .slide-content p {
    font-size: 1rem;
    margin-bottom: 0px;
  }

  .slide-content {
    position: absolute;
    top: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    /* Asegura que no se vea en absoluto */
  }

}

@media screen and (max-aspect-ratio: 16/9) {
  .inicio-silpa {
    height: auto;
    /* Permite que crezca si es necesario */
    min-height: 100vh;
  }

  .slide {
    height: auto;
  }
}

@media (min-width: 1920px) {
  .slide {
    background-size: cover;
    /* Mantiene la imagen bien ajustada */
    min-height: 100vh;
    /* Asegura que siempre ocupe la pantalla */
  }

  .slide-content h1 {
    font-size: 4rem;
    /* Aumenta el tamaño del título */
  }

  .slide-content p {
    font-size: 2rem;
    /* Aumenta el tamaño del texto */
  }

  .slide-content .btn-primary,
  .slide-content .btn-secondary {
    padding: 20px 40px;
    /* Hace los botones más grandes */
    font-size: 1.2rem;
  }

}



@media (max-width: 768px) {

  .SILPA-ver-mas {
    padding: 5px 5px;
  }

  .CotizarServicio {
    padding: 5px 5px;
  }

  .silpa-header__menu {
    flex-direction: column;
    gap: 10px;
  }

  .silpa-header__menu-item {
    text-align: center;
  }

  .silpa-header__menu-toggle {
    display: block;
  }

  .silpa-header__nav.active {
    display: flex;
  }

  .content-wave {
    height: 18vh;
    /* Ajusta la altura de la ola */
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    /* Asegura que no haya desbordes visibles */
  }

  .titulo-servicios {
    font-size: 2em;
    font-weight: bold;
    padding-top: 3px;
    text-transform: uppercase;
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
  }

  .SILPA-servicio-back p {
    font-size: 0.75rem;
    text-align: justify;
    color: #555;
    margin-bottom: 0;
  }

  .SILPA-servicio-links {
    display: block;
    align-items: center;
    text-align: center;
  }

  .SILPA-servicio-links a {
    width: 80%;
    margin: 5px;
  }

  .SILPA-servicios-grid {
    gap: 10px;
  }

  .SILPA-servicio-card {
    height: 240px;
    width: 170px;
  }


}

@media (max-width: 480px) {
  .silpa-trabajo-description {
    text-align: justify;
  }

  .silpa-container {
    max-width: max-content;
    margin: 0 auto;
    padding: 0; 
    text-align: center;
  }

}

@media (min-width: 1400px) {

  .contenido-banner h2 {
    font-size: 1.6em;
    text-align: center;
  }

  .contenido-banner p {
    text-align: center;
    font-size: 1.6em;
  }

  .boton-contacto {
    font-size: 1.5em;
  }



}


@media (min-width: 1920px) {
  .SILPA-servicio-card {
    width: 280px;
    /* Aumenta el ancho */
    height: 300px;
    /* Aumenta la altura */
  }

}

@media (min-width: 1440px) {

  .silpa-trabajo-title {
    font-size: 2.8rem;
    margin-bottom: 0;
  }

  .silpa-trabajo-description {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .silpa-card-title {
    font-size: 1.5rem;
  }

  .silpa-card-description {
    font-size: 1.3rem;
  }

  .silpa-trabajo-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
  }

  .SILPA-categoria-titulo {
    font-size: 2rem;
  }

  .SILPA-servicio-front h3 {
    font-size: 1.2rem;
  }

  .SILPA-servicio-card {
    width: 230px;
    /* Aumenta el ancho */
    height: 235px;
    /* Aumenta la altura */
  }

  .SILPA-servicio-front h3 {
    font-size: 1.2rem;
  }

  .SILPA-servicio-links a {
    padding: 7px;
    font-size: 1.2rem;
  }
}



@media (min-width: 1900px) {

  .SILPA-servicio-card {
    width: 300px;
    /* Aumenta el ancho */
    height: 335px;
    /* Aumenta la altura */
  }

  .SILPA-servicio-front h3 {
    font-size: 1.4rem;
  }

  .SILPA-servicio-links a {
    padding: 10px;
    font-size: 1.5rem;
  }

  .SILPA-servicio-card .SILPA-servicio-back p {
    font-size: 1.3rem;
    /* Ajusta según el tamaño de pantalla */
  }


}